<div class="wrapper-bio">
  <h2 class="title">Hi, I'm Lemmy</h2>
  <div class="info">Software Engineer, Typescriptee, Open Source enthusiast and contributor.</div>
</div>

<style>
  .wrapper-bio {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
