:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

*,::after,::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  background-color: #282828;
  color: #cbbe9c;
  overflow-x: hidden;
  
  body {
    width: 100vw;
    min-height: calc(100vh + 8rem);
    display:flex;
    align-items: center;
    flex-direction: column;

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }
  }
}
