---
import Bio from '../components/User/Bio.astro';
import Layout from '../layouts/Layout.astro';
import Viewer from '../components/User/Viewer.astro';
import PinnedItems from '../components/Repo/PinnedItems.astro';
import { viewer, pinneditems } from '../lib/getProfile';
---

<Layout title="Portfolio | Lemmy Mwaura">
	<main>
		<Viewer avatar={viewer.avatarUrl}/>
		<Bio></Bio>
		<PinnedItems repos={pinneditems}/>
	</main>
</Layout>

<style>
	main {
		margin: 3rem 0rem;
		display: grid;
		gap: 1.5rem;
		width: 100%;
	}
</style>
