---
import Layout from '../layouts/Layout.astro';
import Viewer from '../components/Viewer.astro';
import PinnedItems from '../components/PinnedItems.astro';
import { viewer, pinneditems } from '../lib/getProfile';
// console.log(pinneditems)
---

<Layout title="Portfolio | Lemmy Mwaura">
	<main>
		<Viewer name={viewer.login} avatar={viewer.avatarUrl}/>
		<PinnedItems repos={pinneditems}/>
	</main>
</Layout>

<style>
	main {
		margin-top: 3rem;
		width: 100%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
