---
import Bio from '../components/Bio.astro';
import Layout from '../layouts/Layout.astro';
import Viewer from '../components/Viewer.astro';
import PinnedItems from '../components/PinnedItems.astro';
import { viewer, pinneditems } from '../lib/getProfile';
---

<Layout title="Portfolio | Lemmy Mwaura">
	<main>
		<Viewer name={viewer.login} avatar={viewer.avatarUrl}/>
		<Bio></Bio>
		<PinnedItems repos={pinneditems}/>
	</main>
</Layout>

<style>
	main {
		margin-top: 3rem;
		display: grid;
		gap: 1.5rem;
		width: 100%;
	}
</style>
