<div class="wrapper-bio">
  <h2 class="title">Hi, I'm Lemmy</h2>
  <div class="info">A Software Engineer, Typescript Wizard and a fun of everything Open Source.</div>
  <div class="info">When i'm not coding I love playing C.O.D, and cycling</div>
</div>

<style>
  .wrapper-bio {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
