---
import type { repoDetails } from "../models/repo.model";

interface DetailsProps {
	repo: repoDetails
}

const { repo } = Astro.props as DetailsProps;
const forks = repo.forkCount;
const stars = repo.stargazerCount;
const lang = repo.languages.edges[0].node.name;

---

<div class="wrapper">
	<div class="title">{repo.name}</div>
	<div class="desc">{repo.description}</div>
	<div class="footer">
		<span class="stars">
			<!-- <Icon name="mdi:account"/> -->
			<span>{stars == 0 ? stars : ""}</span>
		</span>
		<span class="fork">
			<!-- <Icon name="mdi:account"/> -->
			<span>{forks == 0 ? forks : ""}</span>
		</span>
		<span class="lang">{lang}</span>
	</div>
</div>

<style>
	.wrapper {
		padding: 1.5rem;
		background-color: #212121;
		border-radius: 0.3rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.title {
		font-size: 1.5rem;
		text-transform: capitalize;
		color: #4d9355;
	}
	.desc {
		font-size: 1rem;
	}
	.footer {
		display: flex;
		gap: 0.5rem;
	}
	.stars, .fork {
		display:flex;
		gap:0.4rem;
	}
</style>
