<nav class="nav">
  <a class="link" href="/">Home</a>
  <a class="link" href="/blog">Blog</a>
  <a class="link" href="/blog">Projects</a>
  <a class="link" href="/faq">FAQ</a>
  <a class="link" href="https://github.com/LemmyMwaura" target="_blank">Github</a>
</nav>

<style>
  .nav {
    width: auto;
    display: flex;
    padding: 0.5rem 1.2rem;
    gap: 1rem;
    background-color: #212121;
    margin-top: 3rem;
    border-radius: 0.3rem;
  }
  .link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #cbbe9c;
  }
</style>
