---
import Card from "./Card.astro"

interface langs {
  edges: {
    node: {
      name: string
    }
  }[]
}

interface pinnedItem {
  id: string,
  name: string,
  description: string,
  forkCount: number,
  stargazerCount: number,
  url: string,
  languages: langs,
}

interface pinnedItems {
  repos: pinnedItem[]
}

const { repos } = Astro.props as pinnedItems

---

<h2 class="title">Some Items I've Built</h2>
<div class="wrapper-items">
  {repos.map((repo: pinnedItem) => 
    <Card repo={repo}/>
  )}
</div>

<style>
  .wrapper-items {
    display: grid;
    width: 100%;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
  }
  .title {
    font-weight: 500;
    text-decoration: underline;
  }
</style>
