---
  interface UserProps {
    name: string,
    avatar: string,
  }

  const { name, avatar } = Astro.props as UserProps
---
<div class="wrapper">
  <img class="image" src={avatar} alt="profile avatar">
  <span class="username">{name}</span>
</div>

<style>
.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 70px;
  border-radius: 50%;
  border: 5px solid #e2b714;
}

.username {
  font-size: 1.5rem;
}
</style>
