---
import type { repoDetails } from "../../models/repo.model";
import { getUpdatedCount } from "../../lib/helpers";

interface DetailsProps {
	repo: repoDetails
}

const { repo } = Astro.props as DetailsProps;
const forks = repo.forkCount;
const stars = repo.stargazerCount;
const lang = repo.languages.edges[0].node.name;

---

<div class="wrapper">
	<div class="title">{repo.name}</div>
	<div class="desc">{repo.description}</div>
	<div class="footer">
		<span class="footer__first">
			<span class={stars !== 0 && "stars" as any}>
				<span>{stars !== 0 && "stars"}</span>
				<span>{stars !== 0 && getUpdatedCount(stars)}</span>
			</span>
			<span class={forks !== 0 && "fork" as any}>
				<span>{forks !== 0 && "forks"}</span>
				<span>{forks !== 0 && getUpdatedCount(forks)}</span>
			</span>
		</span>
		<span class="lang">{lang}</span>
	</div>
</div>

<style>
	.wrapper {
		padding: 1.5rem;
		background-color: #212121;
		border-radius: 0.3rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.title {
		font-size: 1rem;
		text-transform: capitalize;
		color: #4d9355;
	}
	.desc {
		font-size: 1rem;
	}
	.footer {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: space-between;
	}
	.footer__first {
		display: flex;
		gap:1.5rem;
	}
	.stars, .fork {
		font-size: 0.9rem;
		display:flex;
		gap: 0.3rem;
		width: 100%;
		color: #e2b714;

		padding: 5px;
    border-radius: 0.2rem;
    background-color:  #282828;
	}
	.lang{
		font-size: 0.8rem;
		color: #e2b714;
		padding: 5px;
    border-radius: 0.2rem;
    background-color:  #282828;
	}
</style>
