---
import type { repoDetails } from "../../models/repo.model";
import Card from "./Card.astro"

interface DetailsProps {
  repos: repoDetails[]
}

const { repos } = Astro.props as DetailsProps

---

<h3 class="title">Some Items I've Built</h3>
<div class="wrapper-items">
  {repos.map((repo: repoDetails) => 
    <Card repo={repo}/>
  )}
</div>

<style>
  .wrapper-items {
    display: grid;
    width: 100%;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
  }
  .title {
    font-weight: 500;
    text-decoration: underline;
  }
</style>
